---
import {postQuery} from "@graphql/query";
import {type z} from "astro:content";
import {Picture} from "@astrojs/image/components";
import {graphqlFetch, type PostType} from "@utils/all";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

type PostQueryType = z.infer<typeof PostType>;

const {
  data: {postsConnection},
} = await graphqlFetch<PostQueryType>({
  query: postQuery,
  variables: {
    first: 10,
    skip: 0,
  },
});

const posts = postsConnection.edges;
---

<Layout title="Blogs">
  <Container>
    <div class="mb-10 grid grid-cols-2 gap-6 xsm:grid-cols-1 font-grotesk">
      <div class="flex flex-col space-y-3">
        <Picture
          src={posts[0].node.thumbnailImage.url}
          alt="thumbnail-post"
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="16:9"
          background="#ffffff"
          fit="cover"
          position="center"
          loading="lazy"
          class="w-full rounded-md"
        />

        <div>
          {
            posts[0].node.categories.map((item) => (
              <span class="text-[#1BD7CB] text-sm">#{item.name}</span>
            ))
          }

          <a href={`/blogs/${posts[0].node.slug}`} class="no-underline">
            <p class="text-[22px] font-bold">
              {posts[0].node.title}
            </p>
          </a>
        </div>
      </div>

      <div class="flex flex-col space-y-3">
        {
          posts.splice(1, 2).map((item) => (
            <div class="flex space-x-3 xsm:flex-col xsm:space-x-0">
              <div class="w-1/2 xsm:w-full">
                <Picture
                  src={item.node.thumbnailImage.url}
                  alt="thumbnail-post"
                  sizes="(max-width: 800px) 100vw, 800px"
                  widths={[200, 400, 800]}
                  aspectRatio="16:9"
                  background="#ffffff"
                  fit="cover"
                  position="center"
                  loading="lazy"
                  class="w-full rounded-md"
                />
              </div>
              <div class="w-1/2 xsm:w-full">
                <p class="font-pollysans text-gray-400">{item.node.title}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <ul>
      {
        posts.splice(1).map((item) => (
          <li class="mt-3">
            <a href={`/blogs/${item.node.slug}`}>{item.node.title}</a>
          </li>
        ))
      }
    </ul>
  </Container>
</Layout>
