---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import {graphqlFetch, type CodeType} from "@utils/common";
import {z} from "astro:content";
import {codeQuery} from "@graphql/query"

type CodeQueryType = z.infer<typeof CodeType>;

const {
  data: {codesConnection}
} = await graphqlFetch<CodeQueryType>({
  query: codeQuery,
  variables: {first: 10, skip: 0},
});

const codes = codesConnection.edges;

---

<Layout title="Blogs">
    <Container>
      <h1 class="mb-3 text-xl font-playfair">Code Playgrounds 👾</h1>
      <hr class="opacity-40" />

       <ul class="mt-5">
        {codes.map((item, itemIdx) => (
          <li class="text-2xl font-playfair">
            <a href={`/codes/${item.node.slug}`} class="no-underline hover:opacity-70">{itemIdx + 1}. {item.node.title}</a>  
          </li>
        ))}
       </ul>
    </Container>
</Layout>
