---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import cx from "classnames";
import {getCollection} from "astro:content";

const publishedProjectEntries = await getCollection("projects", ({data}) => {
  return !data.draft && data.createdDate < new Date();
});

publishedProjectEntries.sort(function getData(a, b) {
  return b.data.createdDate.valueOf() - a.data.createdDate.valueOf();
});

const isProductProjectPublished =
  publishedProjectEntries.filter((project) => project.data.type === "product")
    .length >= 1;
---

<Layout title="Projects">
  <Container>
    <div class="flex flex-col space-y-3">
      {
        isProductProjectPublished ? (
          <p class="mb-3 opacity-60 text-[17px]">
            Here are the Product Projects i have been creating, maintaining, and
            investing a lot of effort
          </p>
        ) : null
      }

      {
        publishedProjectEntries
          .filter((project) => project.data.type === "product")
          .map((project, projectIdx, size) => (
            <Fragment>
              <a
                class="no-underline hover:opacity-70"
                href={project.data.link}
                target="_blank">
                <div class="flex justify-between xsm:flex-col xsm:space-y-1 items-center xsm:items-start">
                  <p class="font-playfair text-xl font-bold opacity-80">
                    {project.data.title}
                  </p>
                  <p class="text-gray-500">{project.data.snippet}</p>
                </div>
              </a>

              {size.length - 1 === projectIdx ? null : <hr />}
            </Fragment>
          ))
      }
    </div>

    <div
      class={cx("flex flex-col space-y-3", {
        "mt-20": isProductProjectPublished,
      })}>
      <p class="mb-3 opacity-60 text-[17px]">
        Side Projects for spent my freetime
      </p>

      {
        publishedProjectEntries
          .filter((project) => project.data.type !== "product")
          .map((project, projectIdx, size) => (
            <Fragment>
              <a
                class="no-underline hover:opacity-70"
                href={project.data.link}
                target="_blank">
                <div class="flex justify-between xsm:flex-col xsm:space-y-1 items-center xsm:items-start">
                  <p class="font-playfair text-xl font-bold opacity-80">
                    {project.data.title}
                  </p>
                  <p class="text-gray-500">{project.data.snippet}</p>
                </div>
              </a>

              {size.length - 1 === projectIdx ? null : <hr />}
            </Fragment>
          ))
      }
    </div>
  </Container>
</Layout>
