---
import {SEO} from "astro-seo";
import Theme from "@components/theme.astro";
import Footer from "@components/footer.astro";
import "../styles/main.scss";

export interface Props {
  title: string;
  urlImage: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const {title, urlImage} = Astro.props;

const resolvedImageWithDomain = new URL(urlImage, Astro.site).toString();

const makeTitle = title && `${title}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={`${makeTitle} - Blog`}
      description="Frontend Engineer focussing on performance and enhancing a beautiful UI"
      canonical={canonicalURL}
      twitter={{
        creator: "@Ioofyy",
        site: "@rizkyy.dev",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: title,
        },
      }}
    />
  </head>
  <body>
    <slot />
    <Footer />
    <Theme />
  </body>
</html>
