---
import {SEO} from "astro-seo";
import Theme from "@components/theme.astro";
import Footer from "@components/footer.astro";
import "../styles/main.scss";

export interface Props {
  title: string;
  description: string;
  urlImage: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const {title, urlImage, description} = Astro.props;

const resolvedImageWithDomain = new URL(urlImage, Astro.site).toString();

const makeTitle = title && `${title}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={`${makeTitle} - Blog`}
      description="Frontend Engineer focussing on performance and enhancing a beautiful UI"
      canonical={canonicalURL}
      twitter={{
        creator: "@Ioofyy",
        site: "@rizkyy.dev",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        optional: {
          description,
          siteName: "rizkyy.dev",
        },
        image: {
          alt: title,
        },
      }}
    />

    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-93YBNJY3Z4"></script>

    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-93YBNJY3Z4");
    </script>
  </head>
  <body>
    <slot />
    <Footer />
    <Theme />
    {
      import.meta.env.PROD ? (
        <script
          async
          strategy="afterInteractive"
          type="text/javascript"
          src="https://umami.rizkyy.dev/script.js"
          data-website-id="67b6272c-99cf-409a-8950-f6bad8cf296f"
        />
      ) : null
    }
  </body>
</html>
