---
import {SEO} from "astro-seo";
import {createOgImage} from "@utils/createOgImage";
import Theme from "@components/theme.astro";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "../styles/main.scss";

export interface Props {
  title: string;
  date?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const {title} = Astro.props;

const ogImage = createOgImage({
  title: "Muhamad Rizky",
  meta: "Front End Engineer at Fishlog",
});

const description =
  "Welcome to my digital playground where i share what i'm learning. my idea also. I'm a Front End Craftsman dedicated to crafting a beautiful UI and enhancing web performance";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />

    <SEO
      title={title}
      description={description}
      canonical={canonicalURL}
      twitter={{
        creator: "@Ioofyy",
        site: "@rizkyy.dev",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Muhamad Rizky",
          image: ogImage,
        },
        optional: {
          description,
          siteName: "rizkyy.dev",
        },
        image: {
          alt: title,
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <div class="noise-bg"></div>
    <main>
      <slot />
    </main>
    <Footer />
    <Theme />
    {
      import.meta.env.PROD ? (
        <Fragment>
          <script
            async
            defer
            type="text/javascript"
            src="https://umami.rizkyy.dev/script.js"
            data-website-id="67b6272c-99cf-409a-8950-f6bad8cf296f"
          />

          <script type="text/javascript" is:inline>
            {(function (c, l, a, r, i, t, y) {
              c[a] =
                c[a] ||
                function () {
                  (c[a].q = c[a].q || []).push(arguments);
                };
              t = l.createElement(r);
              t.async = 1;
              t.src = "https://www.clarity.ms/tag/" + i;
              y = l.getElementsByTagName(r)[0];
              y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "hyy9i9hhxy")}
          </script>
        </Fragment>
      ) : null
    }
  </body>
</html>
